  
    .affix {
        top: 0;
        width: 100%;
    }
    
    html {
        background: rgba(0, 0, 0, 0.05);
    }

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,"微軟正黑體";
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);    
    font-size: 14px;
    font-weight:bolder;
    line-height: 1em;    
    margin: 0 auto;
    width: 1024px;
    max-width: 100%;
    padding: 0em 1.5em 4em; 
}


    .Small-Width {
        width: 80px;
    }
    .Middle-Width {
        width: 100px;
    }
    .Large-Width {
        width: 150px;
    }
    .Max-Width {
        width: 220px;
    }
    .Maxx-Width {
        width: 250px;
    }
    .test-height {
        height: 150px;
    }
    body {
        font-family: "微軟正黑體";
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
        font-size: 16px;
        font-weight: 600;
        margin: 0 auto;
        width: 1100px;
        max-width: 100%;
        position: relative;
    }

@media screen and (max-width: 768px){
    body{padding-top: 60px;}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    body{padding-top: 100px;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{padding-top: 80px;}
}
@media screen and (min-width: 1200px){
    body{padding-top: 60px;}
}


    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
      color: #fff;
      background-color: brown;
      border-color: brown;
    }
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .open > .dropdown-toggle.btn-primary:hover,
    .btn-primary:active:focus,
    .btn-primary.active:focus,
    .open > .dropdown-toggle.btn-primary:focus,
    .btn-primary:active.focus,
    .btn-primary.active.focus,
    .open > .dropdown-toggle.btn-primary.focus {
      color: #fff;
      background-color: brown;
      border-color: brown;
    }


.col-xs-12 > .carousel.slide > .carousel-inner > .item.active > p {margin-left: 3em; height:1.2em;}

.panel.panel-default > .panel-body > .row > .col-xs-12 > label {height:1.5em;}

.carousel-control {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 15%;
        font-size: 20px;
        color: #000;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        background-color: rgba(0, 0, 0, 0);
        filter: alpha(opacity=20);
        opacity: .25;
    }

.carousel-control:focus {
    color: #000;
    text-decoration: none;
    filter: alpha(opacity=20);
    outline: 0;
    opacity: .25;
}

.carousel-control:hover {
    color: #000;
    text-decoration: none;
    filter: alpha(opacity=50);
    outline: 0;
    opacity: .5;
}